.inputNumber {
  padding: 21px 90px 16px 25px;
  height: 68px;
  width: 100%;
  border-radius: 16px;
  background: #f3f3f4;
  border: none;
  outline: none;
  -moz-appearance: textfield;
}

.inputNumberActive {
  background: #fff;
  border: 2px solid #f3f3f4;
}

.inputNumberError {
  padding: 21px 90px 16px 25px;
  height: 68px;
  width: 100%;
  border-radius: 16px;
  background: #fc999038;
  border: none;
  outline: none;
  -moz-appearance: textfield;
}

.divShowMaxValueError {
  position: relative;
}

.showError {
  position: absolute;
  top: 115%;
  left: 0;
  font-family: Gilroy;
  color: rgb(155, 37, 37);
  font-size: 15px;
  text-align: center;
}

.inputDisabled {
  padding: 21px 90px 16px 25px;
  height: 68px;
  width: 100%;
  border-radius: 16px;
  background: #f3f3f4;
  color: #57575776;
  border: none;
  outline: none;
  -moz-appearance: textfield;
}

@media (max-width: 320px) {
  .inputNumber {
    padding: 25px 90px 16px 19px;
    height: 58px;
    color: #333e48;
  }

  .inputDisabled {
    padding: 25px 90px 16px 19px;
    height: 58px;
    width: 100%;
    border-radius: 16px;
    background: #f3f3f4;
    color: #57575776;
    border: none;
    outline: none;
    -moz-appearance: textfield;
  }
}
