.btn {
  margin-top: 4px;
  width: 100%;
  height: 70px;
  padding: 18px 0 15px;
  border: none;
  border-radius: 40px;
  background: #ff9514;
  font-family: Nekst;
  font-size: 30px;
  color: #fff;
  transform: scale(1);
  transition: 0.1s ease;
}

.btn_disabled {
  margin-top: 4px;
  width: 100%;
  height: 70px;
  padding: 18px 0 15px;
  border: none;
  border-radius: 40px;
  background: rgba(255, 149, 20, 0.4);
  font-family: Nekst;
  font-size: 30px;
  color: #fff;
  transform: scale(1);
  transition: 0.1s ease;
}

.btn:hover {
  background: black;
}

.btn:active {
  transform: scale(0.98);
  background: #575757;
}

@media (max-width: 1024px) {
  .btn {
    width: 77%;
  }

  .btn_disabled {
    width: 77%;
  }
}

@media (max-width: 768px) {
  .btn {
    width: 104%;
  }

  .btn_disabled {
    width: 104%;
  }
}

@media (max-width: 440px) {
  .btn {
    font-size: 22px;
    height: 60px;
  }

  .btn_disabled {
    font-size: 22px;
    height: 60px;
  }
}

@media (max-width: 320px) {
  .btn {
    width: 100%;
  }

  .btn_disabled {
    width: 100%;
  }
  .btnContainer {
    margin-top: 9px;
  }
}
